body{
    background-color:#34495e;
    color:white;
    font-family:"Verdana"
}
.yellowData{
    color:#f1c40f;
}
/* Можеш да изкараш еднаквите стилове в общ клас.
Пример:
.personCard{
   background-color:#e74c3c;
   position:relative;
}

Сега само трябва да добавиш този клас на всичките таблици. 
Ако се наложи да смениш цвета, или да добавиш още една визитка, 
ще ти е много по-лесно така с отделен клас.

*/
table#t01{
    background-color:#e74c3c;
    text-align:left;
    padding:0px 31px 0px 0px;
    /* Това какво точно трябва да е? 
    Синкаксиса за border е следния:
    border:50px solid orange;
    това, което си написала би сработило с margin или padding
    */
}
table#t02{
    background-color:#e74c3c;
    position: relative;
    /* Не е добра идея да местиш елементите с top и left.
    Причината е, че ако те накарм да смениш големината на елемента, ще трябва да преизчисляваш и тези стойности.
    можеш обаче да направиш трите таблици да са display:inline-block; и по този начин ще си подсигуриш че са един до друг.
    Друг подход е пък да вкараш трите даблици в една голяма четвърта таблица.
    */
    left:400px;
    top:-152px;
}
table#t03{
    background-color:#e74c3c;
    position: relative;
    left:800px;
    top:-302px;
}